<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Collaborative Filtering

Estimated time needed: **25** minutes

## Objectives

After completing this lab you will be able to:

-   Create recommendation system based on collaborative filtering

Recommendation systems are a collection of algorithms used to recommend items to users based on information taken from the user. These systems have become ubiquitous can be commonly seen in online stores, movies databases and job finders. In this notebook, we will explore recommendation systems based on Collaborative Filtering and implement simple version of one using Python and the Pandas library.

<h1>Table of contents</h1>

<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ol>
        <li><a href="#ref1">Acquiring the Data</a></li>
        <li><a href="#ref2">Preprocessing</a></li>
        <li><a href="#ref3">Collaborative Filtering</a></li>
    </ol>
</div>
<br>
<hr>

<a id="ref1"></a>

# Acquiring the Data

To acquire and extract the data, simply run the following Bash scripts:  
Dataset acquired from [GroupLens](http://grouplens.org/datasets/movielens?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ). Lets download the dataset. To download the data, we will use **`!wget`** to download it from IBM Object Storage.  
**Did you know?** When it comes to Machine Learning, you will likely be working with large datasets. As a business, where can you host your data? IBM is offering a unique opportunity for businesses, with 10 Tb of IBM Cloud Object Storage: [Sign up now for free](http://cocl.us/ML0101EN-IBM-Offer-CC)

In [1]:
!wget -O moviedataset.zip https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2020-11-17 19:29:56--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/data/moviedataset.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 67.228.254.196
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  22.5MB/s    in 7.6s

2020-11-17 19:30:04 (20.2 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

Now you're ready to start working with the data!

<hr>

<a id="ref2"></a>

# Preprocessing

First, let's get all of the imports out of the way:

In [2]:
#Dataframe manipulation library
import pandas as pd
#Math functions, we'll only need the sqrt function so let's import only that
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Now let's read each file into their Dataframes:

In [3]:
#Storing the movie information into a pandas dataframe
movies_df = pd.read_csv('movies.csv')
#Storing the user information into a pandas dataframe
ratings_df = pd.read_csv('ratings.csv')

Let's also take a peek at how each of them are organized:

In [4]:
#Head is a function that gets the first N rows of a dataframe. N's default is 5.
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

So each movie has a unique ID, a title with its release year along with it (Which may contain unicode characters) and several different genres in the same field. Let's remove the year from the title column and place it into its own one by using the handy [extract](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.str.extract.html#pandas.Series.str.extract?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork-20718538&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) function that Pandas has.

Let's remove the year from the **title** column by using pandas' replace function and store in a new **year** column.

In [5]:
#Using regular expressions to find a year stored between parentheses
#We specify the parantheses so we don't conflict with movies that have years in their titles
movies_df['year'] = movies_df.title.str.extract('(\(\d\d\d\d\))',expand=False)
#Removing the parentheses
movies_df['year'] = movies_df.year.str.extract('(\d\d\d\d)',expand=False)
#Removing the years from the 'title' column
movies_df['title'] = movies_df.title.str.replace('(\(\d\d\d\d\))', '')
#Applying the strip function to get rid of any ending whitespace characters that may have appeared
movies_df['title'] = movies_df['title'].apply(lambda x: x.strip())

Let's look at the result!

In [6]:
movies_df.head()

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995

With that, let's also drop the genres column since we won't need it for this particular recommendation system.

In [7]:
#Dropping the genres column
movies_df = movies_df.drop('genres', 1)

Here's the final movies dataframe:

In [8]:
movies_df.head()

   movieId                        title  year
0        1                    Toy Story  1995
1        2                      Jumanji  1995
2        3             Grumpier Old Men  1995
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

<br>

Next, let's look at the ratings dataframe.

In [9]:
ratings_df.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

Every row in the ratings dataframe has a user id associated with at least one movie, a rating and a timestamp showing when they reviewed it. We won't be needing the timestamp column, so let's drop it to save on memory.

In [11]:
#Drop removes a specified row or column from a dataframe
ratings_df = ratings_df.drop('timestamp', 1)

Here's how the final ratings Dataframe looks like:

In [12]:
ratings_df.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

<hr>

<a id="ref3"></a>

# Collaborative Filtering

Now, time to start our work on recommendation systems. 

The first technique we're going to take a look at is called **Collaborative Filtering**, which is also known as **User-User Filtering**. As hinted by its alternate name, this technique uses other users to recommend items to the input user. It attempts to find users that have similar preferences and opinions as the input and then recommends items that they have liked to the input. There are several methods of finding similar users (Even some making use of Machine Learning), and the one we will be using here is going to be based on the **Pearson Correlation Function**.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%205/images/User_Item.png" width=800px>

The process for creating a User Based recommendation system is as follows:

-   Select a user with the movies the user has watched
-   Based on his rating to movies, find the top X neighbours 
-   Get the watched movie record of the user for each neighbour.
-   Calculate a similarity score using some formula
-   Recommend the items with the highest score

Let's begin by creating an input user to recommend movies to:

Notice: To add more movies, simply increase the amount of elements in the userInput. Feel free to add more in! Just be sure to write it in with capital letters and if a movie starts with a "The", like "The Matrix" then write it in like this: 'Matrix, The' .

In [36]:
userInput = [
            {'title':'Jumanji', 'rating':3},
            {'title':'Beautiful Mind, A', 'rating':4.5},
            {'title':'Avengers, The', 'rating':5},
            {'title':"Shutter Island", 'rating':5},
            {'title':'3 Idiots', 'rating':4},
    {'title':'Exodus: Gods and Kings', 'rating':4.5},
    {'title':'Hobbit: An Unexpected Journey, The', 'rating':4.5},
    {'title':'Kaho Naa... Pyaar Hai', 'rating':2},
    {'title':'Lucky: No Time For Love', 'rating':1}]
inputMovies = pd.DataFrame(userInput)
inputMovies

                                title  rating
0                             Jumanji     3.0
1                   Beautiful Mind, A     4.5
2                       Avengers, The     5.0
3                      Shutter Island     5.0
4                            3 Idiots     4.0
5              Exodus: Gods and Kings     4.5
6  Hobbit: An Unexpected Journey, The     4.5
7               Kaho Naa... Pyaar Hai     2.0
8             Lucky: No Time For Love     1.0

#### Add movieId to input user

With the input complete, let's extract the input movies's ID's from the movies dataframe and add them into it.

We can achieve this by first filtering out the rows that contain the input movies' title and then merging this subset with the input dataframe. We also drop unnecessary columns for the input to save memory space.

In [37]:
#Filtering out the movies by title
inputId = movies_df[movies_df['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId. It's implicitly merging it by title.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping information we won't use from the input dataframe
inputMovies = inputMovies.drop('year', 1)
#Final input dataframe
#If a movie you added in above isn't here, then it might not be in the original 
#dataframe or it might spelled differently, please check capitalisation.
inputMovies

   movieId                               title  rating
0        2                             Jumanji     3.0
1     2153                       Avengers, The     5.0
2    89745                       Avengers, The     5.0
3     4995                   Beautiful Mind, A     4.5
4    73881                            3 Idiots     4.0
5    74406             Lucky: No Time For Love     1.0
6    74458                      Shutter Island     5.0
7    83266               Kaho Naa... Pyaar Hai     2.0
8    98809  Hobbit: An Unexpected Journey, The     4.5
9   116887              Exodus: Gods and Kings     4.5

#### The users who has seen the same movies

Now with the movie ID's in our input, we can now get the subset of users that have watched and reviewed the movies in our input.

In [38]:
#Filtering out users that have watched movies that the input has watched and storing it
userSubset = ratings_df[ratings_df['movieId'].isin(inputMovies['movieId'].tolist())]
userSubset.head()

      userId  movieId  rating
479       13        2     2.0
571       13     2153     1.0
1027      15     4995     4.5
1248      17        2     3.0
1961      17     2153     1.0

We now group up the rows by user ID.

In [41]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['userId'])

lets look at one of the users, e.g. the one with userID=1130

In [42]:
userSubsetGroup.get_group(1130)

        userId  movieId  rating
104168    1130        2     4.0
104743    1130     4995     3.5
105108    1130    89745     1.5

Let's also sort these groups so the users that share the most movies in common with the input have higher priority. This provides a richer recommendation since we won't go through every single user.

In [43]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

Now lets look at the first user

In [44]:
userSubsetGroup[0:3]

[(15465,
           userId  movieId  rating
  1449415   15465        2     3.5
  1449652   15465     4995     3.0
  1449869   15465    73881     5.0
  1449872   15465    74406     2.5
  1449874   15465    74458     3.0
  1449902   15465    83266     4.0
  1449922   15465    89745     5.0
  1449947   15465    98809     3.0),
 (2569,
          userId  movieId  rating
  233941    2569        2     5.0
  234216    2569     4995     5.0
  234551    2569    73881     5.0
  234554    2569    74458     5.0
  234681    2569    89745     5.0
  234786    2569    98809     5.0
  234948    2569   116887     1.5),
 (5336,
          userId  movieId  rating
  499074    5336        2     3.5
  499300    5336     4995     3.0
  499561    5336    73881     3.5
  499565    5336    74458     4.0
  499631    5336    89745     3.0
  499669    5336    98809     3.0
  499722    5336   116887     2.0)]

#### Similarity of users to input user

Next, we are going to compare all users (not really all !!!) to our specified user and find the one that is most similar.  
we're going to find out how similar each user is to the input through the **Pearson Correlation Coefficient**. It is used to measure the strength of a linear association between two variables. The formula for finding this coefficient between sets X and Y with N values can be seen in the image below. 

Why Pearson Correlation?

Pearson correlation is invariant to scaling, i.e. multiplying all elements by a nonzero constant or adding any constant to all elements. For example, if you have two vectors X and Y,then, pearson(X, Y) == pearson(X, 2 * Y + 3). This is a pretty important property in recommendation systems because for example two users might rate two series of items totally different in terms of absolute rates, but they would be similar users (i.e. with similar ideas) with similar rates in various scales .

![alt text](https://wikimedia.org/api/rest_v1/media/math/render/svg/bd1ccc2979b0fd1c1aec96e386f686ae874f9ec0 "Pearson Correlation")

The values given by the formula vary from r = -1 to r = 1, where 1 forms a direct correlation between the two entities (it means a perfect positive correlation) and -1 forms a perfect negative correlation. 

In our case, a 1 means that the two users have similar tastes while a -1 means the opposite.

We will select a subset of users to iterate through. This limit is imposed because we don't want to waste too much time going through every single user.

In [50]:
userSubsetGroup = userSubsetGroup[0:100]

[(15465,
           userId  movieId  rating
  1449415   15465        2     3.5
  1449652   15465     4995     3.0
  1449869   15465    73881     5.0
  1449872   15465    74406     2.5
  1449874   15465    74458     3.0
  1449902   15465    83266     4.0
  1449922   15465    89745     5.0
  1449947   15465    98809     3.0),
 (2569,
          userId  movieId  rating
  233941    2569        2     5.0
  234216    2569     4995     5.0
  234551    2569    73881     5.0
  234554    2569    74458     5.0
  234681    2569    89745     5.0
  234786    2569    98809     5.0
  234948    2569   116887     1.5),
 (5336,
          userId  movieId  rating
  499074    5336        2     3.5
  499300    5336     4995     3.0
  499561    5336    73881     3.5
  499565    5336    74458     4.0
  499631    5336    89745     3.0
  499669    5336    98809     3.0
  499722    5336   116887     2.0),
 (6530,
          userId  movieId  rating
  611462    6530        2     4.0
  612266    6530     2153     2.5
  612962    6530     4995     3.5
  613904    6530    74458     3.0
  614025    6530    89745     3.5
  614110    6530    98809     3.5
  614219    6530   116887     3.0),
 (9101,
          userId  movieId  rating
  842366    9101        2     3.0
  842670    9101     2153     2.5
  842903    9101     4995     3.5
  843171    9101    74458     3.5
  843227    9101    89745     3.5
  843288    9101    98809     4.0
  843412    9101   116887     2.5),
 (9733,
          userId  movieId  rating
  893255    9733        2     3.0
  893957    9733     2153     2.0
  894563    9733     4995     2.0
  895294    9733    74458     3.0
  895375    9733    89745     3.0
  895432    9733    98809     2.5
  895522    9733   116887     2.5),
 (16382,
           userId  movieId  rating
  1529801   16382        2     3.0
  1530699   16382     2153     1.0
  1531770   16382     4995     4.0
  1534391   16382    74458     4.0
  1534828   16382    89745     2.0
  1535091   16382    98809     3.5
  1535399   16382   116887     3.0),
 (20640,
           userId  movieId  rating
  1919978   20640        2     3.0
  1920239   20640     4995     5.0
  1920550   20640    73881     4.5
  1920551   20640    74458     4.0
  1920604   20640    89745     4.0
  1920642   20640    98809     4.5
  1920711   20640   116887     3.0),
 (38949,
           userId  movieId  rating
  3598940   38949        2     4.5
  3599324   38949     4995     5.0
  3599785   38949    73881     1.5
  3599789   38949    74458     5.0
  3599851   38949    83266     4.5
  3599888   38949    89745     3.5
  3599978   38949    98809     2.0),
 (59257,
           userId  movieId  rating
  5531565   59257        2     3.5
  5531842   59257     2153     2.5
  5532106   59257     4995     4.5
  5532648   59257    74458     4.0
  5532763   59257    89745     3.5
  5532835   59257    98809     3.5
  5532957   59257   116887     3.0),
 (65856,
           userId  movieId  rating
  6124162   65856        2     3.0
  6124589   65856     2153     2.0
  6124990   65856     4995     3.5
  6125631   65856    73881     4.0
  6125633   65856    74458     4.0
  6125716   65856    89745     4.0
  6125753   65856    98809     4.0),
 (74551,
           userId  movieId  rating
  6953205   74551        2     2.5
  6954318   74551     2153     1.0
  6955681   74551     4995     4.5
  6957195   74551    73881     4.0
  6957196   74551    74458     3.5
  6957278   74551    89745     4.0
  6957338   74551    98809     4.0),
 (75952,
           userId  movieId  rating
  7068262   75952        2     4.0
  7068370   75952     4995     4.5
  7068571   75952    73881     1.5
  7068572   75952    74458     4.0
  7068650   75952    89745     4.0
  7068707   75952    98809     4.0
  7068785   75952   116887     3.0),
 (77738,
           userId  movieId  rating
  7238737   77738        2     4.0
  7238930   77738     2153     3.0
  7239105   77738     4995     4.0
  7239815   77738    74458     5.0
  7240032   77738    89745     4.0
  7240181   77738    98809     3.5
  7240366   77738   116887     3.5),
 (96884,
           userId  movieId  rating
  8968648   96884        2     3.5
  8968860   96884     2153     2.0
  8969051   96884     4995     4.5
  8969572   96884    74458     3.5
  8969692   96884    89745     3.5
  8969792   96884    98809     5.0
  8969924   96884   116887     1.5),
 (104481,
           userId  movieId  rating
  9666761  104481        2     1.0
  9667325  104481     2153     1.5
  9667874  104481     4995     3.5
  9668871  104481    73881     3.0
  9668875  104481    74458     4.5
  9669002  104481    89745     3.0
  9669108  104481    98809     4.0),
 (105787,
           userId  movieId  rating
  9799905  105787        2     3.5
  9800648  105787     4995     5.0
  9801633  105787    73881     5.0
  9801643  105787    74458     4.5
  9801875  105787    89745     4.0
  9802036  105787    98809     4.0
  9802262  105787   116887     3.0),
 (113822,
            userId  movieId  rating
  10545766  113822        2     2.0
  10546339  113822     4995     3.0
  10546918  113822    73881     2.5
  10546923  113822    74458     4.0
  10547048  113822    89745     3.5
  10547120  113822    98809     3.0
  10547255  113822   116887     2.5),
 (123109,
            userId  movieId  rating
  11419021  123109        2     4.0
  11419266  123109     4995     4.5
  11419734  123109    73881     3.0
  11419736  123109    74458     5.0
  11419825  123109    89745     3.0
  11419918  123109    98809     3.5
  11420062  123109   116887     1.0),
 (138819,
            userId  movieId  rating
  12832500  138819        2     3.0
  12832968  138819     2153     1.0
  12833382  138819     4995     4.0
  12834004  138819    73881     4.5
  12834007  138819    74458     3.0
  12834123  138819    89745     3.0
  12834195  138819    98809     3.0),
 (147003,
            userId  movieId  rating
  13611351  147003        2     3.0
  13612154  147003     2153     1.0
  13612996  147003     4995     4.0
  13614340  147003    74458     4.0
  13614578  147003    89745     4.5
  13614748  147003    98809     4.0
  13614967  147003   116887     3.5),
 (167523,
            userId  movieId  rating
  15514244  167523        2     2.5
  15514840  167523     2153     0.5
  15515445  167523     4995     3.5
  15516151  167523    74458     3.5
  15516268  167523    89745     5.0
  15516353  167523    98809     4.0
  15516502  167523   116887     3.0),
 (168834,
            userId  movieId  rating
  15640109  168834        2     4.0
  15640499  168834     2153     1.5
  15640797  168834     4995     4.0
  15641636  168834    74458     3.0
  15641778  168834    89745     5.0
  15641889  168834    98809     3.5
  15642043  168834   116887     2.5),
 (177124,
            userId  movieId  rating
  16401531  177124        2     2.0
  16401987  177124     2153     1.0
  16402400  177124     4995     4.5
  16403031  177124    73881     3.5
  16403035  177124    74458     3.0
  16403125  177124    89745     3.0
  16403145  177124    98809     4.0),
 (190114,
            userId  movieId  rating
  17582219  190114        2     2.5
  17582884  190114     2153     1.0
  17583659  190114     4995     2.5
  17584981  190114    73881     3.5
  17584989  190114    74458     3.5
  17585195  190114    89745     4.0
  17585316  190114    98809     3.5),
 (191568,
            userId  movieId  rating
  17726828  191568        2     3.0
  17727160  191568     2153     3.5
  17727446  191568     4995     4.0
  17727972  191568    73881     4.5
  17727975  191568    74458     3.5
  17728091  191568    89745     4.5
  17728160  191568    98809     4.5),
 (193091,
            userId  movieId  rating
  17867950  193091        2     3.5
  17868237  193091     2153     3.0
  17868473  193091     4995     4.0
  17869122  193091    74458     4.5
  17869269  193091    89745     4.5
  17869367  193091    98809     4.0
  17869516  193091   116887     3.0),
 (199909,
            userId  movieId  rating
  18487125  199909        2     3.0
  18487495  199909     2153     1.5
  18487803  199909     4995     3.5
  18488319  199909    73881     0.5
  18488442  199909    89745     2.5
  18488521  199909    98809     3.5
  18488664  199909   116887     2.0),
 (216996,
            userId  movieId  rating
  20081697  216996        2     4.0
  20081900  216996     2153     0.5
  20082074  216996     4995     4.0
  20082392  216996    74458     2.5
  20082430  216996    89745     4.0
  20082465  216996    98809     3.0
  20082540  216996   116887     3.0),
 (234563,
            userId  movieId  rating
  21692219  234563        2     3.0
  21692697  234563     4995     4.0
  21693142  234563    73881     2.5
  21693146  234563    74458     3.0
  21693294  234563    89745     3.5
  21693381  234563    98809     4.5
  21693522  234563   116887     1.5),
 (236365,
            userId  movieId  rating
  21853185  236365        2     3.0
  21853445  236365     4995     3.5
  21853775  236365    73881     3.0
  21853776  236365    74406     3.5
  21853777  236365    74458     4.5
  21853846  236365    89745     4.0
  21853904  236365    98809     4.0),
 (551,
         userId  movieId  rating
  48487     551     4995     5.0
  48554     551    73881     2.0
  48555     551    74458     5.0
  48600     551    89745     1.0
  48660     551    98809     1.5
  48821     551   116887     1.5),
 (815,
         userId  movieId  rating
  73748     815        2     3.0
  74788     815     2153     1.5
  75965     815     4995     3.5
  77836     815    74458     3.5
  78097     815    89745     3.5
  78277     815    98809     3.0),
 (1204,
          userId  movieId  rating
  110819    1204        2     3.5
  111300    1204     2153     3.0
  111734    1204     4995     2.5
  112080    1204    74458     3.5
  112111    1204    89745     4.0
  112136    1204    98809     4.0),
 (1502,
          userId  movieId  rating
  133877    1502        2     3.5
  134161    1502     2153     1.0
  134394    1502     4995     4.5
  134684    1502    74458     5.0
  134708    1502    89745     3.0
  134732    1502    98809     4.0),
 (3734,
          userId  movieId  rating
  340016    3734        2     4.0
  340575    3734     2153     1.0
  341231    3734     4995     3.0
  342106    3734    89745     4.0
  342176    3734    98809     3.5
  342288    3734   116887     2.5),
 (4208,
          userId  movieId  rating
  387005    4208        2     2.0
  388172    4208     4995     4.0
  389743    4208    74458     3.0
  389972    4208    89745     3.0
  390142    4208    98809     3.0
  390375    4208   116887     1.5),
 (4663,
          userId  movieId  rating
  433861    4663        2     4.0
  434081    4663     2153     3.0
  434224    4663     4995     4.0
  434484    4663    74458     4.5
  434512    4663    89745     4.0
  434533    4663    98809     4.0),
 (5630,
          userId  movieId  rating
  523133    5630        2     3.5
  523305    5630     4995     3.0
  523581    5630    74458     4.0
  523669    5630    89745     3.0
  523754    5630    98809     2.0
  523948    5630   116887     2.5),
 (6701,
          userId  movieId  rating
  628512    6701        2     4.0
  628886    6701     2153     2.0
  629199    6701     4995     4.5
  629710    6701    74458     4.0
  629821    6701    89745     4.0
  629989    6701   116887     3.0),
 (8863,
          userId  movieId  rating
  816676    8863        2     3.0
  817317    8863     4995     4.0
  817729    8863    74458     4.0
  817803    8863    89745     5.0
  817844    8863    98809     4.5
  817916    8863   116887     3.0),
 (9030,
          userId  movieId  rating
  833032    9030        2     2.5
  833260    9030     2153     1.5
  833445    9030     4995     2.5
  833733    9030    74458     4.0
  833781    9030    89745     4.5
  833819    9030    98809     3.5),
 (10298,
          userId  movieId  rating
  953592   10298        2     3.0
  954061   10298     4995     5.0
  954497   10298    74458     3.0
  954559   10298    89745     2.5
  954605   10298    98809     2.5
  954681   10298   116887     3.0),
 (11357,
           userId  movieId  rating
  1052289   11357        2     3.0
  1052692   11357     2153     0.5
  1053113   11357     4995     2.0
  1053710   11357    74458     4.0
  1053823   11357    89745     5.0
  1053914   11357    98809     4.0),
 (11905,
           userId  movieId  rating
  1111015   11905        2     4.0
  1111472   11905     2153     2.5
  1111899   11905     4995     3.5
  1112252   11905    74458     3.0
  1112317   11905    89745     4.5
  1112445   11905    98809     3.5),
 (14815,
           userId  movieId  rating
  1386284   14815     4995     1.5
  1386786   14815    73881     0.5
  1386790   14815    74458     4.5
  1386918   14815    89745     3.0
  1387011   14815    98809     4.5
  1387189   14815   116887     1.0),
 (15010,
           userId  movieId  rating
  1403119   15010        2     3.5
  1403846   15010     4995     4.5
  1404402   15010    74458     4.5
  1404505   15010    89745     5.0
  1404585   15010    98809     4.5
  1404720   15010   116887     2.0),
 (15017,
           userId  movieId  rating
  1404983   15017        2     3.0
  1405133   15017     4995     5.0
  1405319   15017    74458     4.0
  1405367   15017    89745     4.5
  1405404   15017    98809     1.5
  1405481   15017   116887     3.0),
 (15030,
           userId  movieId  rating
  1406118   15030        2     2.5
  1406699   15030     4995     4.0
  1407157   15030    74458     3.5
  1407243   15030    89745     3.5
  1407301   15030    98809     4.0
  1407376   15030   116887     3.5),
 (22398,
           userId  movieId  rating
  2073531   22398        2     2.0
  2073866   22398     2153     1.0
  2074105   22398     4995     3.5
  2074565   22398    74458     4.0
  2074618   22398    89745     3.0
  2074657   22398    98809     5.0),
 (22883,
           userId  movieId  rating
  2116474   22883        2     3.0
  2116831   22883     2153     1.0
  2117177   22883     4995     3.5
  2117473   22883    74458     4.0
  2117486   22883    89745     4.0
  2117492   22883    98809     4.0),
 (23534,
           userId  movieId  rating
  2188028   23534        2     4.0
  2188429   23534     4995     5.0
  2188770   23534    73881     4.0
  2188773   23534    74458     4.5
  2188880   23534    89745     4.5
  2188933   23534    98809     4.5),
 (24641,
           userId  movieId  rating
  2288418   24641     4995     5.0
  2288647   24641    73881     4.0
  2288650   24641    74458     5.0
  2288722   24641    89745     3.0
  2288780   24641    98809     3.0
  2288970   24641   116887     5.0),
 (30663,
           userId  movieId  rating
  2820816   30663        2     3.5
  2821185   30663     4995     5.0
  2821792   30663    73881     4.0
  2821795   30663    74458     3.0
  2821893   30663    89745     4.5
  2821951   30663    98809     4.0),
 (32298,
           userId  movieId  rating
  2978229   32298        2     1.0
  2978870   32298     4995     5.0
  2979425   32298    73881     5.0
  2979428   32298    74458     3.0
  2979524   32298    89745     1.0
  2979588   32298    98809     4.0),
 (35743,
           userId  movieId  rating
  3283964   35743        2     4.0
  3284331   35743     2153     2.0
  3284767   35743     4995     4.0
  3286031   35743    74458     3.5
  3286297   35743    89745     4.0
  3286481   35743    98809     4.0),
 (35974,
           userId  movieId  rating
  3313008   35974        2     1.5
  3313127   35974     4995     5.0
  3313348   35974    73881     4.0
  3313351   35974    74458     4.5
  3313403   35974    89745     4.5
  3313424   35974    98809     3.5),
 (36946,
           userId  movieId  rating
  3402636   36946        2     3.0
  3403494   36946     2153     0.5
  3404458   36946     4995     5.0
  3406111   36946    74458     0.5
  3406328   36946    89745     4.0
  3406489   36946    98809     1.5),
 (37333,
           userId  movieId  rating
  3447194   37333     4995     4.0
  3447770   37333    73881     4.5
  3447776   37333    74458     3.5
  3448005   37333    89745     4.5
  3448169   37333    98809     4.5
  3448281   37333   116887     3.0),
 (38154,
           userId  movieId  rating
  3522262   38154        2     1.0
  3523483   38154     4995     3.0
  3524914   38154    74458     3.5
  3525095   38154    89745     3.5
  3525211   38154    98809     3.0
  3525268   38154   116887     3.0),
 (38939,
           userId  movieId  rating
  3596590   38939        2     4.5
  3597145   38939     4995     4.0
  3598182   38939    73881     3.0
  3598185   38939    74458     3.5
  3598355   38939    89745     5.0
  3598507   38939    98809     3.5),
 (39721,
           userId  movieId  rating
  3676715   39721        2     3.0
  3677068   39721     2153     1.5
  3677374   39721     4995     4.5
  3677926   39721    74458     4.0
  3678028   39721    89745     4.0
  3678127   39721    98809     4.0),
 (39994,
           userId  movieId  rating
  3698779   39994        2     2.0
  3699237   39994     4995     2.5
  3699621   39994    74458     5.0
  3699662   39994    89745     5.0
  3699692   39994    98809     3.0
  3699778   39994   116887     3.0),
 (40336,
           userId  movieId  rating
  3734399   40336        2     4.5
  3734845   40336     4995     5.0
  3735248   40336    74458     5.0
  3735387   40336    89745     4.5
  3735471   40336    98809     4.5
  3735511   40336   116887     3.0),
 (41005,
           userId  movieId  rating
  3797049   41005        2     3.0
  3797272   41005     4995     5.0
  3797543   41005    73881     5.0
  3797544   41005    74458     4.5
  3797595   41005    89745     4.0
  3797640   41005    98809     4.5),
 (41455,
           userId  movieId  rating
  3833543   41455        2     2.0
  3834273   41455     4995     5.0
  3835259   41455    73881     3.5
  3835267   41455    74458     3.5
  3835416   41455    89745     3.0
  3835487   41455    98809     3.0),
 (41890,
           userId  movieId  rating
  3877399   41890        2     2.0
  3877730   41890     2153     1.0
  3877982   41890     4995     4.0
  3878249   41890    74458     3.0
  3878291   41890    89745     3.0
  3878322   41890    98809     2.5),
 (44027,
           userId  movieId  rating
  4065582   44027        2     2.0
  4065993   44027     2153     0.5
  4066283   44027     4995     4.5
  4066726   44027    74458     4.0
  4066825   44027    89745     4.5
  4066892   44027    98809     3.0),
 (45123,
           userId  movieId  rating
  4177821   45123        2     4.0
  4178334   45123     2153     1.0
  4178736   45123     4995     4.5
  4179411   45123    74458     3.5
  4179498   45123    89745     4.5
  4179548   45123    98809     4.0),
 (45221,
           userId  movieId  rating
  4188192   45221        2     2.0
  4188761   45221     2153     3.0
  4189255   45221     4995     4.0
  4190134   45221    73881     4.5
  4190386   45221    89745     3.5
  4190583   45221    98809     3.5),
 (47648,
           userId  movieId  rating
  4412116   47648        2     2.0
  4412607   47648     2153     2.5
  4413118   47648     4995     2.5
  4414156   47648    74458     2.5
  4414297   47648    89745     4.0
  4414419   47648    98809     3.5),
 (47897,
           userId  movieId  rating
  4438638   47897        2     2.0
  4439915   47897     4995     4.0
  4440614   47897    74458     3.0
  4440709   47897    89745     4.0
  4440757   47897    98809     3.5
  4440826   47897   116887     2.5),
 (48087,
           userId  movieId  rating
  4459067   48087        2     4.0
  4459338   48087     4995     4.5
  4459561   48087    74458     4.5
  4459588   48087    89745     4.0
  4459603   48087    98809     5.0
  4459613   48087   116887     3.5),
 (48098,
           userId  movieId  rating
  4460090   48098        2     2.5
  4460634   48098     4995     4.0
  4461154   48098    73881     3.5
  4461156   48098    74458     4.0
  4461260   48098    89745     4.0

Now, we calculate the Pearson Correlation between input user and subset group, and store it in a dictionary, where the key is the user Id and the value is the coefficient

In [49]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='movieId')
    inputMovies = inputMovies.sort_values(by='movieId')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputMovies[inputMovies['movieId'].isin(group['movieId'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [51]:
pearsonCorrelationDict.items()

dict_items([(15465, 0.2903957073134519), (2569, -0.09128709291752762), (5336, -0.1376204706407964), (6530, -0.7245688373094714), (9101, 0.1039349274103872), (9733, -0.2619684159977918), (16382, -0.214952600500776), (20640, 0.3952847075210471), (38949, -0.15536386656646634), (59257, -0.09128709291752768), (65856, 0.0745355992499929), (74551, 0.03346747203760445), (75952, 0.19494325729098247), (77738, 0.0), (96884, -0.14155623595918085), (104481, 0.5304841172860961), (105787, 0.20756952180649757), (113822, 0.8720815992723808), (123109, -0.013222147133698247), (138819, -0.35599532759198627), (147003, 0.05036101551853351), (167523, 0.12575075750089215), (168834, -0.2574643252722186), (177124, 0.04782867026529589), (190114, 0.04794633014853699), (191568, 0.3614486980061222), (193091, 0.27785946511310555), (199909, -0.0856868310168405), (216996, -0.468292905790847), (234563, 0.15714681654815396), (236365, 0.4994995272059494), (551, 0.193065573489583), (815, -0.08333333333333333), (1204, 0.0), (1502, -0.13693063937629152), (3734, -0.4766748733793748), (4208, 0.42443949318447044), (4663, -0.13130643285972282), (5630, -0.09607689228305237), (6701, -0.2814390178921169), (8863, 0.6643482831758059), (9030, 0.2896422231817461), (10298, -0.0486504255410534), (11357, 0.03971507353947688), (11905, -0.3651483716701107), (14815, 0.6790438640176091), (15010, 0.3721042037676257), (15017, 0.3222516933177451), (15030, 0.7442084075352514), (22398, 0.18070158058105024), (22883, 0.0), (23534, 0.6470588235294178), (24641, -0.045037734911102106), (30663, 0.187867287325545), (32298, 0.16893237680338422), (35743, -0.40291148201269045), (35974, 0.8667476936546006), (36946, -0.2743977362280141), (37333, -0.2100420126042022), (38154, 0.9973337235915678), (38939, -0.030082841879807684), (39721, 0.05892556509887897), (39994, 0.7865026952607851), (40336, 0.0769230769230753), (41005, 0.5588235294117639), (41455, 0.4954150840221489), (41890, 0.12649110640673514), (44027, 0.24293289905367477), (45123, -0.29346959282671115), (45221, 0.4370483222197038), (47648, 0.5144957554275263), (47897, 0.6933752452815353), (48087, 0.1943250826893889), (48098, 0.9469425238482126), (49324, 0.017037481092401607), (50313, 0.3215206485222378), (50738, -0.21504133222818808), (50880, -0.080582296402538), (51033, 0.5330017908890268), (54133, 0.6859943405700346), (57117, -0.09712858623572651), (57474, 0.2867696673382022), (58040, 0.4368658089342457), (59489, 0.4640954808922599), (60734, 0.22687130324325872), (61991, 0.38829013735765866), (63839, 0.10660035817780515), (64169, 0.6790997501017328), (65407, 0.45246144833466606), (67204, 0.6467616667635551), (67776, -0.07796811755854503), (68765, 0.15502665587976874), (70088, 0.2998126755983448), (71115, 0.10846522890934202), (71137, 0.6800204009180456), (71740, -0.06477502756312963), (73406, -0.20596403902624552), (73419, -0.21190435947906439), (74234, -0.6396021490668321), (74293, 0.0)])

In [52]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['userId'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex  userId
0         0.290396   15465
1        -0.091287    2569
2        -0.137620    5336
3        -0.724569    6530
4         0.103935    9101

#### The top x similar users to input user

Now let's get the top 50 users that are most similar to the input.

In [55]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

    similarityIndex  userId
59         0.997334   38154
73         0.946943   48098
17         0.872082  113822
56         0.866748   35974
62         0.786503   39994

Now, let's start recommending movies to the input user.

#### Rating of selected users to all movies

We're going to do this by taking the weighted average of the ratings of the movies using the Pearson Correlation as the weight. But to do this, we first need to get the movies watched by the users in our **pearsonDF** from the ratings dataframe and then store their correlation in a new column called _similarityIndex". This is achieved below by merging of these two tables.

In [56]:
topUsersRating=topUsers.merge(ratings_df, left_on='userId', right_on='userId', how='inner')
topUsersRating.head()

   similarityIndex  userId  movieId  rating
0         0.997334   38154        1     4.5
1         0.997334   38154        2     1.0
2         0.997334   38154        6     2.0
3         0.997334   38154       10     3.0
4         0.997334   38154       12     2.0

Now all we need to do is simply multiply the movie rating by its weight (The similarity index), then sum up the new ratings and divide it by the sum of the weights.

We can easily do this by simply multiplying two columns, then grouping up the dataframe by movieId and then dividing two columns:

It shows the idea of all similar users to candidate movies for the input user:

In [57]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head()

   similarityIndex  userId  movieId  rating  weightedRating
0         0.997334   38154        1     4.5        4.488002
1         0.997334   38154        2     1.0        0.997334
2         0.997334   38154        6     2.0        1.994667
3         0.997334   38154       10     3.0        2.992001
4         0.997334   38154       12     2.0        1.994667

In [66]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('movieId').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

         sum_similarityIndex  sum_weightedRating
movieId
1                  18.903303           72.390673
2                  21.031044           51.144174
3                   4.327274            9.914274
4                   0.900961            1.146624
5                   5.498452           14.751086

In [82]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()
#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['movieId'] = tempTopUsersRating.index
recommendation_df.head()

         weighted average recommendation score  movieId
movieId
1                                     3.829525        1
2                                     2.431842        2
3                                     2.291113        3
4                                     1.272667        4
5                                     2.682771        5

Now let's sort it and see the top 20 movies that the algorithm recommended!

In [83]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head(10)

         weighted average recommendation score  movieId
movieId
26702                                      5.0    26702
4704                                       5.0     4704
3847                                       5.0     3847
5244                                       5.0     5244
3777                                       5.0     3777
7650                                       5.0     7650
3970                                       5.0     3970
4863                                       5.0     4863
5641                                       5.0     5641
5780                                       5.0     5780

In [84]:
movies_df.loc[movies_df['movieId'].isin(recommendation_df.head(10)['movieId'].tolist())]

      movieId                                             title  year
3687     3777                                       Nekromantik  1987
3755     3847                          Ilsa, She Wolf of the SS  1974
3877     3970  Beyond, The (E tu vivrai nel terrore - L'aldilà)  1981
4610     4704                                           Hatari!  1962
4768     4863                                    Female Trouble  1975
5148     5244                                   Shogun Assassin  1980
5543     5641                                      Moderns, The  1988
5682     5780                                         Polyester  1981
7415     7650         Witchfinder General (Conquerer Worm, The)  1968
9001    26702                              Reflecting Skin, The  1990

### Advantages and Disadvantages of Collaborative Filtering

##### Advantages

-   Takes other user's ratings into consideration
-   Doesn't need to study or extract information from the recommended item
-   Adapts to the user's interests which might change over time

##### Disadvantages

-   Approximation function can be slow
-   There might be a low of amount of users to approximate
-   Privacy issues when trying to learn the user's preferences

<h2>Want to learn more?</h2>

IBM SPSS Modeler is a comprehensive analytics platform that has many machine learning algorithms. It has been designed to bring predictive intelligence to decisions made by individuals, by groups, by systems – by your enterprise as a whole. A free trial is available through this course, available here: <a href="https://www.ibm.com/analytics/spss-statistics-software">SPSS Modeler</a>

Also, you can use Watson Studio to run these notebooks faster with bigger datasets. Watson Studio is IBM's leading cloud solution for data scientists, built by data scientists. With Jupyter notebooks, RStudio, Apache Spark and popular libraries pre-packaged in the cloud, Watson Studio enables data scientists to collaborate on their projects without having to install anything. Join the fast-growing community of Watson Studio users today with a free account at <a href="https://www.ibm.com/cloud/watson-studio">Watson Studio</a>

### Thank you for completing this lab!

## Author

Saeed Aghabozorgi

### Other Contributors

<a href="https://www.linkedin.com/in/joseph-s-50398b136/" target="_blank">Joseph Santarcangelo</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By | Change Description                 |
| ----------------- | ------- | ---------- | ---------------------------------- |
| 2020-11-03        | 2.1     | Lakshmi    | Updated URL of csv                 |
| 2020-08-27        | 2.0     | Lavanya    | Moved lab to course repo in GitLab |
|                   |         |            |                                    |
|                   |         |            |                                    |

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>